.vbox {
    -fx-spacing: 10.0;
    -fx-alignment: center;
    -fx-padding: 40;
    -fx-background-color: #242424;
}

.label-main {
    -fx-pref-width: 200;
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-text-fill: #F0F0F0;
}

.label {
    -fx-text-fill: #F0F0F0;
}

.button {
    -fx-alignment: center;
    -fx-background-color: #383838;
    -fx-text-fill: #F0F0F0;
    -fx-font-size: 14px;
}


.combo-box {
    -fx-background-color: #383838;
    -fx-text-fill: #F0F0F0;
    -fx-font-size: 14px;
}

.combo-box .list-cell {
    -fx-background-color: #383838;
    -fx-text-fill: #d0d0d0;
    -fx-background-radius: 5px;
}

.combo-box-popup {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #d0d0d0;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
}

.combo-box .list-view {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #d0d0d0;
    -fx-padding: 5px;
    -fx-border-width: 0px;
}

.combo-box .list-view .list-cell {
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #d0d0d0;
    -fx-padding: 5px;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #4a4a4a;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5px;
}

.combo-box .list-view .list-cell:selected {
    -fx-background-color: #5a5a5a;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5px;
}
.combo-box-popup .scroll-bar:vertical{
     -fx-background-color: #383838;
     -fx-background-radius: 5px;
}

.combo-box-popup .scroll-bar:vertical .thumb {
    -fx-background-color: #4a4a4a;
    -fx-background-radius: 5px;
}

.combo-box-popup .scroll-bar:vertical .track {
    -fx-background-color: #383838;
    -fx-background-radius: 5px;
}

.combo-box-popup .scroll-bar:vertical .increment-button,
.combo-box-popup .scroll-bar:vertical .decrement-button {
    -fx-background-color: #383838;
}

.combo-box-popup .scroll-bar:vertical .increment-arrow,
.combo-box-popup .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #4a4a4a;
}

