/* Window style */
.vbox {
    -fx-spacing: 10.0; /* Distance between objects */
    -fx-alignment: center; /* Objects alignment */
    -fx-padding: 30; /* Distance between objects and window border */
    -fx-background-color: #242424; /* Window background colour */
    -fx-pref-width: 410; /* Preferred width */
}

/* Settings window style */
.settings-vbox {
    -fx-spacing: 10.0; /* Distance between objects */
    -fx-alignment: center; /* Objects alignment */
    -fx-padding: 30; /* Distance between objects and window border */
    -fx-background-color: #242424; /* Window background colour */
    -fx-pref-width: 500; /* Preferred width */
}

/* Universal Forge Installer style */
.label-main {
    -fx-alignment: center; /* Positioning the text relative to the window */
    -fx-font-size: 16px; /* Size of font */
    -fx-text-fill: #F0F0F0; /* Text colour */
}

/* Minecraft and Forge versions text style */
.label {
    -fx-text-fill: #F0F0F0; /* Text colour */
}

/* Settings text style */
.settings-label {
    -fx-text-fill: #F0F0F0; /* Text colour */
    -fx-font-size: 14px; /* Size of font */
}

/* Text field style */
.text-field {
    -fx-text-fill: #F0F0F0; /* Text colour */
    -fx-background-color: #383838; /* Text field colour */
}

/* Status label style */
.status-label {
    -fx-text-fill: #F0F0F0; /* Text colour */
    -fx-alignment: center; /* Positioning the text relative to the window */
    -fx-font-size: 14px; /* Text size */
    -fx-pref-width: 180; /* Preferred width */
    -fx-pref-height: 14;
}

/* Buttons style */
.button {
    -fx-alignment: center; /* Positioning the text relative to the window */
    -fx-background-color: #383838; /* Button colour */
    -fx-text-fill: #F0F0F0; /* Text colour */
    -fx-font-size: 14px; /* Font size */
}

/* Versions choose box style */
.combo-box {
    -fx-background-color: #383838; /* Box colour */
    -fx-alignment: left; /* Positioning the text relative to the window */
}

/* Versions choose box style */
.combo-box .list-cell {
    -fx-background-color: #383838; /* Box colour */
    -fx-text-fill: #d0d0d0; /* Text in box colour */
    -fx-background-radius: 5px; /* Rounding radius of the box */
}

/* The style of the list that drops down after clicking on the box */
.combo-box .list-view {
    -fx-background-color: #3c3c3c; /* List colour */
}

/* Default cell style in list */
.combo-box .list-view .list-cell {
    -fx-background-color: #3c3c3c; /* Cell colour */
    -fx-text-fill: #d0d0d0; /* Cell text colour */
}

/* Cell color in list when hovering */
.combo-box .list-view .list-cell:hover {
    -fx-background-color: #4a4a4a; /* Cell colour */
    -fx-text-fill: #ffffff; /* Cell text colour */
    -fx-background-radius: 5px; /* Rounding radius of the cell */
}

/* Cell color in list when clicked */
.combo-box .list-view .list-cell:selected {
    -fx-background-color: #5a5a5a; /* Cell colour */
    -fx-text-fill: #ffffff; /* Cell text colour */
    -fx-background-radius: 5px; /* Rounding radius of the cell */
}

/* Scroll bar style */
.combo-box-popup .scroll-bar:vertical{
     -fx-background-color: #383838; /* Scroll bar colour */
     -fx-background-radius: 5px; /* Rounding radius of the scroll bar */
}

/* Scroll bar thumb style */
.combo-box-popup .scroll-bar:vertical .thumb {
    -fx-background-color: #4a4a4a; /* Thumb colour */
    -fx-background-radius: 5px; /* Rounding radius of the thumb */
}

/* The style of the arena that thumb is rolling around in */
.combo-box-popup .scroll-bar:vertical .track {
    -fx-background-color: #383838; /* Area colour */
    -fx-background-radius: 5px; /* Rounding radius of the area */
}

/* The style of buttons with arrows */
.combo-box-popup .scroll-bar:vertical .increment-button,
.combo-box-popup .scroll-bar:vertical .decrement-button {
    -fx-background-color: #383838; /* Button colour */
}

/* The style of arrows in buttons */
.combo-box-popup .scroll-bar:vertical .increment-arrow,
.combo-box-popup .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #4a4a4a; /* Arrow colour */
}

